<div class="sc-player">
	<div class="sc-player_controls">
		<div class="transportBar_wrapper">
			<div class="transportBar_bg"></div>
			<div class="transportBar" [style.width.%]="trackPosition"></div>
			<input type="range"  class="transportControl" [formControl]="transportBar">
		</div>
		<div class="currentlyPlaying_wrapper">
			<span class="currentlyPlaying" *ngIf="getPlaying()">
				<div class=" entry_playButton" [style]="getStyle()">
				</div>
				<div class="texts">
					
					<div class="sc-search_result_detail">
						Now playing: 
					</div>
					<br>
					<div class="sc-search_result_title">
						<span>
						{{getPlaying().title}}	
						</span>
					</div>
				</div>
			</span>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-3">
					<div class="controls_additional">
						<i class="icofont icofont-random"></i>

						<i class="icofont icofont-refresh"></i>
					</div>
				</div>
				<div class="col-6">
					<div class="controls_wrapper">
						<sc-prev></sc-prev>
						<div class="control_big"><sc-play [entry]="getPlaying()"></sc-play></div>
						<sc-prev [next]=true></sc-prev>
					</div>
				</div>
				<div class="col-3">
					<div class="row">
						<div class="col-12">
							<div class="volume">

								<i class="icofont icofont-volume-bar"></i>
								<div class="transportBar_wrapper">
									<div class="transportBar_bg"></div>
									<div class="transportBar" [style.width.%]="trackVolume"></div>
									<input type="range"  class="transportControl" [formControl]="volumeBar">
								</div>
							</div>

						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
<youtube-player
[videoId]="id"
(ready)="savePlayer($event)"
(change)="onStateChange($event)"
></youtube-player>
