.volumeBar, .transportControl {
	max-width: 100%;
}
.transportControl {
	opacity: 0;
	cursor: pointer;
	width: 100%;
}
.transport {
	height: 4px;
	border-radius: 3px;
	position: absolute;
	top: 19px;
}
.transportBar {
	@extend .transport;
	background-color: #aeaeae;
}
.transportBar_wrapper {
	position: relative;
	max-width: 960px;
	margin: auto;
	width: 72%;
}
.transportBar_bg {
	@extend .transport;
	background-color: #575757;
	width: 100%;
}