@import '../../assets/css/variables';
@import '../../assets/css/mixins';

.playButton {
    &_wrapper {
        background: $brightGreen;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}





