<div class="backgroundToggleMenu" (click)="closeMenu()" [class.isOpened]="isOpened()">
</div>
<div class="sc-menu" [class.opened]="isOpened()">

	<div class="hidden-md-down logoBig" routerLink="/"><img src="assets/img/logo.png" alt=""></div>
	<hr class="hidden-md-down">
	<ul>
		<li *ngFor="let link of menu" class="sc-menu_link" routerLink="{{link.action}}" routerLinkActive="isActive" [routerLinkActiveOptions]="{exact:
			true}" (click)="closeMenu()">
			<i [ngClass]="['icofont', link.icon]"></i> {{link.name}}
		</li>
	</ul>
	<hr>
	<div class="sc-menu_playlists_wrapper">
		<div class="sc-menu_elem">
			<div class="iconPlaylist"></div> Playlists
		</div>
	</div>
	<div class="sc-menu_playlists_wrapper isRescalable">

		<ul class="sc-menu_playlists">
			<li *ngFor="let playlist of getPlaylists()" class="sc-menu_playlist">
				<a routerLink="{{playlist.id}}" class="sc-menu_playlistLink" (click)="closeMenu()">
					<div *ngIf="playlist.entries[0]" class="sc-menu_link_pic">
						<!-- <img src="{{playlist.entries[0].snippet.thumbnails.default.url}}" alt=""> -->
					</div>
					<div class="float-left microPreview--small" [style]="getStyle(playlist.entries[0].thumbnails.default.url)" *ngIf="playlist.entries[0]">

						<sc-play [entry]="playlist.entries[0]" [collection]="playlist.entries"></sc-play>

					</div>

					<div class="float-left microPreview--small isEmpty" *ngIf="!playlist.entries[0]">


					</div>
					<div class="sc-menu_subgroup">
						<div class="sc-menu_playlistLink_name">{{playlist.name}}</div>
						<div class="sc-menu_playlistLink_nbTracks">{{nbTracks(playlist)}} tracks</div>
					</div>

				</a>
			</li>
			<li *ngIf="noPlaylist()" class="sc-menu_playlist">
				<div class="sc-menu_playlistLink_name">No playlists here.</div>
			</li>
		</ul>
	</div>
	<div class="sc-menu_playlists_wrapper">
		<hr>
		<div class="sc-menu_playlist">
			<sc-add-playlist></sc-add-playlist>
		</div>

	</div>
	<div class="spacer"></div>
	<div class="footer">
		<!-- 	<ul class="socialIcons">
		<li *ngFor="let entry of social">
			<i [ngClass]="['icofont', entry.icon]"></i> 
		</li>
	</ul> -->
		<sc-share></sc-share>
		<hr>
		<div class="footer_links">
			<div>
				About Showcase
			</div>
			<div>
				&bull;
			</div>
			<div>
				Contact me
			</div>
		</div>
	</div>
</div>