<div class="sc-menu">
	<div class="hidden-md-down logoBig"><img src="assets/img/logo.png" alt=""></div>
	<hr>
	<ul>
		<li *ngFor="let link of menu" class="sc-menu_link" (click)="navigate(link)">
			<i [ngClass]="['icofont', link.icon]"></i> {{link.name}}
		</li>
	</ul>
	<hr>
	<div class="sc-menu_link">
		<i class="icofont icofont-list"></i>Playlists
	</div>
	<ul class="sc-menu_playlists">
		<li *ngFor="let playlist of getPlaylists()" class="sc-menu_playlist">
			<a routerLink="{{playlist.id}}" class="sc-menu_playlistLink">
				<div *ngIf="playlist.entries[0]" class="sc-menu_link_pic">
					<!-- <img src="{{playlist.entries[0].snippet.thumbnails.default.url}}" alt=""> -->
				</div>
				<div class="sc-menu_subgroup">					
					<div class="sc-menu_playlistLink_name">{{playlist.name}}</div>
					<div class="sc-menu_playlistLink_nbTracks">{{nbTracks(playlist)}} tracks</div>
				</div>
				
			</a>
		</li>
		<li *ngIf="noPlaylist()"  class="sc-menu_playlist">
			<div>No playlists here.</div>
		</li>
		<hr>
		<li  class="sc-menu_playlist">
				<a class=" text-center" [popover]="addPlaylist" placement="bottom">
					<div class="sc-menu_addPlaylist">
						<i class="icofont icofont-plus"></i> Add a new Playlist
					</div>
				</a>
				<ng-template #addPlaylist>
					<sc-add-playlist></sc-add-playlist>
				</ng-template>
		</li>
	</ul>

	<div class="footer">
		<ul class="socialIcons">
			<li *ngFor="let entry of social">
				<i [ngClass]="['icofont', entry.icon]"></i> 
			</li>
		</ul>
		<hr>
		<div class="footer_links">
			About Showcase &bull; Contact me
		</div>
	</div>
</div>