@import '../../assets/css/mixins';

.logoBig {
	font-size: 29px;
	color: #fffdfa;
	text-align: center;
	margin: 15px 0 50px;
	img {
		max-width: 148px;
		transform: rotateZ(-6deg);
	}
}

.sc-menu {
	background-color: rgba(0, 0, 0, 0.33);
	position: fixed;
	left: 0px;
	bottom: 160px;
	top: 54px;
	@include lg {top: 0;}
	width: 240px;
	padding: 10px;
	z-index: 2;
	@include box-shadow(0, 3px, 26px, rgba(0, 0, 0, 0.3));
	&_title {
		border-bottom: 3px #eaeaea solid;
		text-transform: capitalize;
		font-family: 'Pacifico', cursive;
		font-size: 17px;
		margin-bottom: 15px;
		color: #e6e6e6;
	}
	ul {
		list-style: none;
		padding: 0;
	}
	&_bg {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 10;
		transition: background .2s;
		background: rgba(255,255,255,0.02);
		&:hover { background: rgba(255,255,255,0.1);}
	}
	&_playlistWrapper {
		padding-bottom: 10px;
	}
	&_gradient {
		@include gradient-directional(rgba(42, 52, 53, 0), #1e1e20, 90deg);
		position: absolute;
		left: 0;
		right: 127px;
		top: 0;
		bottom: 0;
		z-index: 4;
	}
	&_subgroup {
		z-index: 5;
		
		transition: padding-left .2s;
		
	}
	&_link {
		color: white;
		padding-left: 3px;
		display: flex;
		overflow: hidden;
		position: relative;
		&:hover {text-decoration: none !important;.sc-menu_subgroup {padding-left: 5px;}}
		&:focus {text-decoration: none !important;}
		&_nbTracks {
			font-size: 15px;
		}
		&_pic {
			img {
				width: 90px;
				margin: 5px 10px 0 0;
				position: absolute;
				top: -14px;
				opacity: 0.5;
			}
		}
	}
}
