.navbarMobile {
    background-color: #292929;
    height: 54px;
}

.logoSmall {
    img {
        height: 32px;
        margin: auto;
        display: block;
    }
}

.navbar-toggler-left {
    background: none;
    color: white;
    font-size: 26px;
}