.sc-searchbar {
	text-align: center;
	padding-top: 30px;
	&_input {
		width: 100%;
		max-width: 800px;
		margin: 0 auto 30px;
		font-size: 28px;
		padding: 5px 20px;
		background: #1e2830;
		border: none;
		color: white;
	}
}