$small-width: 576px;
$medium-width: 768px;
$large-width: 992px;
$extraLarge-width: 1200px;

@mixin sm {
	@media (min-width: #{$small-width}){
		@content;
	}
}
@mixin md {
	@media (min-width: #{$medium-width}){
		@content;
	}
}
@mixin lg {
	@media (min-width: #{$large-width}){
		@content;
	}
}
@mixin xl {
	@media (min-width: #{$extraLarge-width}){
		@content;
	}
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}