//GENERAL
$textMainColor: white;
$medGreen: #ADD627;
$brightGreen: #ACE000;

//MENU
$textMenuColor: #DFDFDF;
$iconMenu: #95989A;
$playlistsBackground: #3B3B3B;
$playlistsLinkTextColor: #DCDCDC;
$playlistsLinkNbTracksColor: #989898;

//RESULTS & PLAYLISTS
$entryTextColor: #757575;