//GENERAL
$textMainColor: white;
$medGreen: #ADD627;
$brightGreen: #ACE000;

//MENU
$textMenuColor: #CECECE;
$iconMenu: #95989A;
$playlistsBackground: #3B3B3B;
$playlistsLinkTextColor: #DCDCDC;
$playlistsLinkNbTracksColor: #989898;
$iconMarginRight: 16px;

//HOME
$homePadding: 10px;

//RESULTS & PLAYLISTS
$entryTextColor: #757575;
$selectionsText: white;