input[type="text"].style-2 {
padding: 0px 10px;
border: solid 3px #7d7d7d;
transition: border 0.3s;
color: white;

background: rgba(116, 116, 117, 0.1);
border-width: 0 0 0px 4px;
}
input[type="text"].style-2:focus,
input[type="text"].style-2.focus {
  border-color: #C8C8C8;
}