<div class="container-fluid">
	<div class="row">
		<div class="col-12">

			<form #rename="ngForm" (ngSubmit)="renamePlaylist(rename)" class="rename-form">

				<input type="text" placeholder="{{playlist.name}}" required ngModel name=name class="style-2">
				<button class=" btn btn-outline-primary btn-sm" type="submit">Rename Playlist</button>
			</form>

			<button class=" btn btn-outline-primary btn-sm" (click)="removePlaylist()">Delete Playlist</button>
		</div>

	</div>
</div>

<div class="sc-search">
	<div class="container-fluid">
		<div class="sc-search_result" *ngFor="let entry of playlist.entries;let i = index" >
			<sc-result [entry]="entry" [playlist]="playlist.entries" [edit]=true></sc-result>
		</div>
	</div>
</div>