<div class="l-playlists">
	<div class="container-fluid">
		<div class="row">

			<div class="col-lg-4 text-center">
				<div class="row">
					<div class="col-10 offset-1">					
						<div class="album_wrapper" [style]="getStyle(playlist.imgUrl || playlist.entries[0]?.thumbnails.high.url)">
							<div class="album">
								
							</div>
						</div>
					</div>
				</div>
				<div class="playlistInfo_name"> {{playlist?.name}}</div>
				<div class="playlistInfo_details"> {{nbTracks()}} tracks &bull; {{totalLength() | duration}}</div>
				<div class="playlistInfo_buttons">					
					<a class="btn btn-primary">
						PLAY
					</a>					
					<a class="btn btn-primary" [popover]="editPlaylist" placement="bottom" *ngIf="edit">
					EDIT
				</a>
			</div>
			<ng-template class="editPlaylist" #editPlaylist>
				
				<form #rename="ngForm" (ngSubmit)="renamePlaylist(rename)" class="rename-form">
					<input type="text" placeholder="{{playlist?.name}}" required ngModel name=name class="style-2">
					<button class=" btn btn-primary btn-sm" type="submit">Rename Playlist</button>
				</form>
				<button class=" btn btn-primary btn-sm" (click)="removePlaylist()">Delete Playlist</button>
			</ng-template>
		</div>

		<div class="col-lg-8">
			<div class="container-fluid">

			</div>

			<div class="sc-search">
				<div class="container-fluid">
					<div class="sc-search_result" *ngFor="let entry of playlist?.entries;let i = index" >
						<sc-result [entry]="entry" [playlist]="playlist.entries" [edit]=edit></sc-result>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
</div>
