/* You can add global styles to this file, and also import other style files */

@import 'assets/css/mixins';


body {

	padding-top: 54px;
	padding-bottom: 160px;
	@include lg {
		padding-left: 240px;
		padding-top: 0;
	}
	@inclue lg {

	}
	font-family: 'Roboto', sans-serif !important;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#344549+0,000000+100 */
	background-image: url('assets/img/bg.png');
	background: #1f1f2c ; /* Old browsers */
	background: -moz-linear-gradient(top,  #1f1f2c  0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #1f1f2c  0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #1f1f2c  0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1f2c ', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	background-repeat: no-repeat;
	background-attachment: fixed;
}

a {cursor: pointer;}

.navbarMobile {
	background-color: #292929;
	.logoType {
		color: white !important;
	}
}

.sc-player {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 160px;
	background-color: #1b1b1b;
	box-shadow: 0 3px 26px rgba(0, 0, 0, 0.51);
	z-index: 4;
	@include box-shadow(0, 3px, 26px, rgba(0,0,0,0.1));
	&_controls {
		margin: 10px auto 0;
		text-align: center;
		font-size: 2rem;
	}
}
.btn {cursor:pointer;}
.sc-search {
	padding-top: 30px;
	&_input {width: 100%;max-width: 800px;margin: 0 auto 10px;}
	&_inner {
		padding: 7px;
		transition: background-color, .2s;
		&:hover {background-color: rgba(158, 158, 158, 0.05);}
		a:hover:not(.play-button) {text-decoration: underline !important;}
	}
	&_playButton {
		font-size: 22px;
		padding: 6px 12px 0 0;
	}
	&_result {
		color: #e8e5f8;
		padding: 0px 0;
		border: 0 #ffffff1a solid;
		border-bottom-width: 1px;
		&_title{ font-size: 1.1rem; margin-bottom: 0.2rem;}
		&_detail { margin-bottom: 0.5rem;font-size: 0.7rem;}
		& .isActive {
			background: rgba(109, 99, 141, 0.23);
			color: #fff;
			font-weight: 600;
		}
	}
}


.isDisabled {
	color: #666  !important;
	pointer-events:none;
}

youtube-player {display:none;}

.rename-form {
	display: inline-block;
}


.edit-button {
	background: silver;
	padding: 2px 8px;
	border: 1px black solid;
	font-size: 15px;
}

.controls_wrapper {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: space-between;
	max-width: 270px;
	margin: auto;
}

$control_small: 40px;
$control_big: 61px;
$controlsColor: #c5c5c5;
$controlsColorHover: #EFEFEF;
.control {
	border: 1px $controlsColor solid;
	color: $controlsColor;
	transition: all .2s;
	&:hover {border-color: $controlsColorHover;color: $controlsColorHover;}
	&_small {
		@extend .control;
		width: $control_small;
		height: $control_small;
		font-size: 23px;
		border-radius: 43px;
		i {
			position: relative;
			top: 1px;
			font-size: 21px;
		}
	}
	&_big {
		@extend .control;
		width: $control_big;
		height: $control_big;
		border-radius: 33px;
		a {
			font-size: 29px;
			position: relative;
			left: 2px;
			top: 3px;
			padding: 14px;
			.icofont-ui-pause {position: relative;right: 2px;}
		}
	}
}
$btn-color: #947fad ;
.btn-outline-primary:hover {
	color: #191923!important;
	background-color: $btn-color !important;
	border-color: $btn-color!important;
}
.btn-outline-primary {
	color: $btn-color !important;
	background-image: none;
	background-color: transparent;
	border-color: $btn-color !important;
}