.sc-search {
	padding-top: 30px;
	&_input {width: 100%;max-width: 800px;margin: 0 auto 10px;}
	&_result {
		margin-bottom: 20px;
		background-color: silver;
		&_title{ font-size: 1.4rem; margin-bottom: 0.2rem;}
		&_detail { margin-bottom: 0.5rem;}
	}
}