<div class="l-home">
	<div class="container-fluid">
		<div class="header">SELECTIONS</div>
		<div class="row">
			<div class="col-md-6 col-lg-4" *ngFor="let selection of selections.main" routerLink="selections/{{selection.id}}">
				<div class="selectionLink" [style]="getStyle(selection.imgUrl)">
					<span class="homeText">
						{{selection.name}}
					</span>
				</div>
			</div>
		</div>

		<div class="header">ALBUMS</div>
		<div class="row clearfix">
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2" *ngFor="let album of selections.albums.entries">
				<div class="album" [style]="getStyle(album.thumbnails.high.url)">
					<div class="album_mainLayer">
						<span class="homeText">
							{{album.title}}
						</span>
					</div>
					<div class="album_playButtonLayer control--big">
						<sc-play [collection]="selections.albums.entries" [entry]="album"></sc-play>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

