<div class="l-home">
	<div class="container-fluid">
	<div class="header">SELECTIONS</div>
		<div class="row">
			<div class="col-md-6 col-lg-4">
				<div class="sc-home_selectionLink">
					Chill &amp; World music
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="sc-home_selectionLink">
					Rock
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="sc-home_selectionLink">
					Classical
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="sc-home_selectionLink">
					Hip hop &amp; Rap
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="sc-home_selectionLink">
					Progressive house
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="sc-home_selectionLink">
					Jazz
				</div>
			</div>
		</div>

		<div class="header">ALBUMS</div>
		<div class="row clearfix">
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="album_wrapper">
					<div class="album">
						Placeholder Name
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="album_wrapper">
					<div class="album">
						Placeholder Name
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="album_wrapper">
					<div class="album">
						Placeholder Name
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="album_wrapper">
					<div class="album">
						Placeholder Name
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="album_wrapper">
					<div class="album">
						Placeholder Name
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="album_wrapper">
					<div class="album">
						Placeholder Name
					</div>
				</div>
			</div>
		</div>
	</div>
</div>